<% if @warning_message.blank? %>
  <table id="plugins-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% plugins.each do |name, version| %>
        <tr>
          <td><%= name %></td>
          <td><%= version %></td>
          <td>
              <% if @installed_plugin_keys.include?(name) %>
                <% installed_version = @installed_plugins && @installed_plugins[name] %>
                <% if installed_version.present? && version.present? && Gem::Version.correct?(installed_version) && Gem::Version.new(installed_version) < Gem::Version.new(version) %>
                  <%= link_to 'Update', plugin_install_path(:plugin_key => name), :method => :post, :title => 'Update' %>
                <% else %>
                  <span class="label label-success">Installed</span>
                <% end %>
              <% else %>
                <%= link_to 'Install', plugin_install_path(:plugin_key => name), :method => :post, :title => 'Install' %>
              <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning" role="alert"><%= @warning_message.html_safe %></div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#plugins-table').dataTable({
      "dom": "t",
      "paging": false,
      "ordering": true,
      "columnDefs": [
        { "orderable": true, "targets": [0, 1] },
        { "orderable": false, "targets": [2] }
      ]
    });
  });
<% end %>
