<%- has_kpm_plugin = kpm_plugin_installed?(nodes_info) %>
<% nodes_info.each do |node_info| %>
  <div class="row nodes-info">
    <div class="col-sm-6">
      <div class="mb-3">
        <b>Node</b>
        <p>
          <%= node_info.node_name %>
        </p>
      </div>
      <div>
        <b>Kill Bill Version</b>
        <p><%= node_info.kb_version %></p>
      </div>
    </div>
    <div class="col-sm-6">
      <% unless node_info.boot_time.blank? %>
        <div class="mb-3">
          <b>Uptime</b>
          <p class="transaction-status"> <%= time_ago_in_words(DateTime.parse(node_info.boot_time)) %></p>
        </div>
      <% end %>
      <div>
        <b>Dependencies</b>
        <p>API: <%= node_info.api_version %></p>
        <p>Plugin API: <%= node_info.plugin_api_version %></p>
        <p>Platform: <%= node_info.platform_version %></p>
        <p>Commons: <%= node_info.common_version %></p>
      </div>
    </div>
   </div>
<% end %>
